postgres:
  db: db
  host: host
  replicaHost: replicaHost
  user: user
  password:
    value: password

config:
  ipfs: ipfs
  ethereum: ethereum

role: "query-node"

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    kubernetes.io/tls-acme: "true"
  hosts:
    - chart-example.local
  tls:
    - secretName: chart-example-tls
      hosts:
        - chart-example.local

ingressWebsocket:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    kubernetes.io/tls-acme: "true"
  hosts:
    - ws.chart-example.local
  tls:
    - secretName: chart-example-tls
      hosts:
        - ws.chart-example.local
